body{
    color:  rgb(255, 255, 255) !important;
    background: #696363;
    background-image: url(../../images/pexels-irina-iriser-1379640.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.mainDiv{
    width: 70%;
 
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    border-radius: 20px;
  
    color: #ffffff !important;
}
.form-control{
    width: 90%;
}
.btn{
    width: 90%;
}
.alert{
    text-align: left !important;
    width: 40%;
    margin-left: 50px;
    margin-top: 0;
    
}
.h-120{
    height: 150%;
}
